<!DOCTYPE html>
<html>
  <head>
    <title>Nhof</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- images -->
    <script type="text/javascript">
      window.downArrow = "<%= image_url('arrow.png') %>";
      window.closeX = "<%= image_url('closeX.svg') %>";
      window.voteArrow = "<%= image_url('vote-arrow.svg') %>";
    </script>

    <!-- css links -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:300|Forum" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="icon" href="<%= image_url('nhof-favicon.png') %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
